@font-face {
  font-family: "FS-Sinclair";
  src: url("/fonts/FS_Sinclair_Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FS-Sinclair", "Courier New", Courier, monospace;
  user-select: none;
  color: white;
}

body {
  background: #404040;
  height: 100vh;
}
